.card {
  height: 132px;
  display: flex;
  gap: 16px;
  background-color: lavender;
  padding: 16px;
  box-sizing: content-box;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

.card:hover {
  transform: scale(1.02);
  background-color: lavenderblush;
}

.title {
  font-weight: bold;
  margin: 0;
}

.progress {
  margin-top: 0;
}
